<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <h1>Add New User</h1>
    <form action="/create" method='POST'>
        <p>First Name: <input type="text" name='first_name'></p>
        <p>Last Name: <input type="text" name='last_name'></p>
        <p>Email: <input type="text" name='email'></p>
        <input type="submit">
    </form>
</body>
</html>