<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <h1><strong>All Users</h1></strong>
    <table  class="table table-dark table-hover">
        <thead>
            <td>ID</td>
            <td>Full Name</td>
            <td>Email</td>
            <td>Created At</td>
            <td>Actions</td>
        </thead>
        {% for user in all_users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td><a href="/users/{{user.id}}/userspage">Show</a> <a href="/users/{{user.id}}/delete" name='id'>Delete</a> <a href="/users/{{user.id}}/edit">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    <button class="btn btn-dark"><a href="/users/new">Add New User</a></button>
</body>
</html>